---
import Seo from "../components/Seo.astro";
import { Image } from "astro:assets";
import imgimages_gaiact_logo_svg from "../../public/images/gaiact_logo.svg";
import imgimages_gaiact_network_leaf_img_webp from "../../public/images/gaiact_network_leaf_img.webp";
import imgimages_gaiact_arrow_right_bottom_webp from "../../public/images/gaiact_arrow_right_bottom.webp";
import imgimages_gaiact_about_us_person_1_webp from "../../public/images/gaiact_about_us_person_1.webp";
import imgimages_gaiact_about_us_person_2_webp from "../../public/images/gaiact_about_us_person_2.webp";
import imgimages_gaiact_about_us_person_4_webp from "../../public/images/gaiact_about_us_person_4.webp";
import imgimages_gaiact_about_us_left_leaf_webp from "../../public/images/gaiact_about_us_left_leaf.webp";
import imgimages_gaiact_about_us_right_leaf_webp from "../../public/images/gaiact_about_us_right_leaf.webp";
import imgimages_gaiact_about_us_moutain_img_webp from "../../public/images/gaiact_about_us_moutain_img.webp";
import imgimages_gaiact_about_us_logo_ck_webp from "../../public/images/gaiact_about_us_logo_ck.webp";
import imgimages_gaiact_about_us_logo_claire_webp from "../../public/images/gaiact_about_us_logo_claire.webp";
import imgimages_gaiact_about_us_logo_elan_coaching_webp from "../../public/images/gaiact_about_us_logo_elan_coaching.webp";
import imgimages_gaiact_about_us_logo_nosual_webp from "../../public/images/gaiact_about_us_logo_nosual.webp";
import imgimages_gaiact_about_us_logo_eco_step_webp from "../../public/images/gaiact_about_us_logo_eco_step.webp";
import imgimages_gaiact_about_us_logo_phalene_webp from "../../public/images/gaiact_about_us_logo_phalene.webp";
import imgimages_gaiact_about_us_logo_numi_bee_webp from "../../public/images/gaiact_about_us_logo_numi_bee.webp";
import imgimages_gaiact_about_us_logo_cerebralis_webp from "../../public/images/gaiact_about_us_logo_cerebralis.webp";
import imgimages_gaiact_about_us_logo_digital_forest_webp from "../../public/images/gaiact_about_us_logo_digital_forest.webp";
import imgimages_gaiact_about_us_logo_green_web_webp from "../../public/images/gaiact_about_us_logo_green_web.webp";
import imgimages_gaiact_instagram_icon_svg from "../../public/images/gaiact_instagram_icon.svg";
import imgimages_gaiact_linkedin_icon_svg from "../../public/images/gaiact_linkedin_icon.svg";
import imgimages_gaiact_send_icon_webp from "../../public/images/gaiact_send_icon.webp";
import imgimages_gaiact_left_footer_bg_svg from "../../public/images/gaiact-left-footer-bg.svg";
import imgimages_gaiact_right_footer_bg_svg from "../../public/images/gaiact-right-footer-bg.svg";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <script>
      import { showToast } from "../components/toast";
      (() => {
        const els = [...document.querySelectorAll("form")];
        if (!els?.length) return;
        els.forEach((el) => {
          console.log("Test 1");
          el.addEventListener("submit", async (e) => {
            console.log("Test 2");
            e.preventDefault();
            const formData = new FormData(e.target);
            const formObject = Object.fromEntries(formData);
            formObject.emailUser = "contact@gaiactnetwork.org";
            console.log("formObject", formObject);
            console.log("Test 3");
            try {
              console.log("Test 4");
              const response = await fetch(
                "https://app.ecobuilder.io/api/send-mail-contact",
                {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify(formObject),
                }
              );
              console.log("Test 5");
              if (!response.ok) {
                throw new Error("Network response was not ok");
              }
              console.log("Test 6");
              const result = await response.json();
              showToast("Form submitted successfully!");
              console.log("Form submitted successfully:", result);
            } catch (error) {
              console.error("Error submitting form:", error);
              showToast("Error submitting form", "error");
            }
          });
        });
      })();
    </script>
    <script>
      // Function to toggle the navigation menu
      function toggleSidebar() {
        // Get the nav tag and toggle button
        const navHeader = document.querySelector(".nav-header");
        const navButton = document.querySelector(".nav-button");
        const toggleButton = document.querySelector(".toggle-sidebar button");

        if (navHeader && toggleButton) {
          toggleButton.addEventListener("click", () => {
            navHeader.classList.toggle("hidden"); // Toggle the 'hidden' class
          });
        }
        if (navButton && toggleButton) {
          toggleButton.addEventListener("click", () => {
            navButton.classList.toggle("hidden"); // Toggle the 'hidden' class
          });
        }
      }

      // Call the function to attach the event listener
      document.addEventListener("DOMContentLoaded", toggleSidebar);
    </script>
    <script src="js/menu.js" type="module"></script>
    <Seo
      seo={{
        title: "À propos - Gaïact",
        description:
          "Gaïact est un réseau associatif ouvert à tous les acteurs de l'économie en France, quel que soit votre niveau en RSE. Rejoignez-nous pour évoluer, créer des liens, et accéder à des marchés durables grâce à nos événements physiques et digitaux",
        keywords: "réseau associatif",
        canonical: "https://gaiactnetwork.org/",
        image: "https://gaiactnetwork.org/images/gaiact_logo.svg",
        type: "Website",
        themeColor: "#ffffff",
      }}
    />
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://gaiactnetwork.org/images/gaiact_fav_icon.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>À propos - Gaïact</title>
  </head>
  <body>
    <header
      class="flex flex-col relative shrink-0 box-border h-auto empty:min-h-[30vh] before:content-['Header'] before:absolute before:top-0 before:left-0 before:inline-block before:py-1 before:px-2 before:bg-black/20 before:text-white before:text-sm before:rounded before:!rounded-tl-none before:!rounded-bl-none mb-[1px] header-section"
    >
      <section
        class="header-component flex flex-col overflow-hidden bg-[#102d2e] text-white"
        role="banner"
        aria-label="Header section with Gaiact branding"
      >
        <div class="max-md:px-4 max-md:max-w-full px-4 py-4 sm:px-5 lg:px-8">
          <div class="mx-auto container">
            <div
              class="header-component flex flex-wrap justify-between gap-5 lg:gap-10 border-b border-teal-950 bg-[#0F2D2E] font-bold"
            >
              <div
                class="header-link flex items-center justify-between lg:w-auto w-full"
              >
                <a href="/" class="shrink-0" aria-label="Homepage">
                  <Image
                    alt="Gaiact Company Logo"
                    src={imgimages_gaiact_logo_svg}
                    width="183.5"
                    height="53"
                    class="w-[80px] h-[23px] lg:w-[184px] lg:h-[54px] object-cover max-w-full"
                    loading="lazy"
                    aria-label="Gaiact company logo"
                  />
                </a>
                <div class="flex items-center lg:hidden toggle-sidebar">
                  <button
                    class="flex items-center justify-center w-8 h-8 text-[#AFCA0C]"
                    aria-label="Open mobile menu"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-8 h-8"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      fill="none"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                  </button>
                </div>
              </div>
              <nav
                class="nav-header bg-[#102d2e] my-auto hidden items-center gap-8 overflow-hidden whitespace-nowrap text-base leading-none text-white lg:flex w-full lg:w-auto"
                aria-label="Main navigation menu"
              >
                <a
                  href="/evenement"
                  class="my-auto self-stretch hover:text-[#AFCA0C] lg:w-auto block lg:inline-block py-4 lg:py-0"
                  aria-label="Navigate to Évènements">Évènements</a
                >
                <a
                  href="/gaiact"
                  class="my-auto self-stretch hover:text-[#AFCA0C] lg:w-auto block lg:inline-block py-4 lg:py-0"
                  aria-label="Navigate to Gaïact">Gaïact</a
                >
                <a
                  href="/media"
                  class="my-auto self-stretch hover:text-[#AFCA0C] lg:w-auto block lg:inline-block py-4 lg:py-0"
                  aria-label="Navigate to Média">Média</a
                >
                <a
                  href="/contact"
                  class="my-auto self-stretch hover:text-[#AFCA0C] lg:w-auto block lg:inline-block py-4 lg:py-0"
                  aria-label="Navigate to Contact">Contact</a
                >
              </nav>
              <div
                class="nav-button mt-1 hidden flex-wrap items-start gap-5 self-start text-xl leading-snug lg:flex w-full lg:w-auto"
              >
                <a
                  href="/contact"
                  class="max-md:px-4 gap-2.5 self-stretch overflow-hidden rounded-xl bg-[#AEC90C] px-12 py-2.5 text-teal-950 hover:bg-[#AFCA0C] transition w-full lg:w-auto block lg:inline-block text-center"
                  aria-label="Join us to be part of Gaiact">Nous rejoindre</a
                >
               <a
                  href="https://connect.gaiactnetwork.org/index.php/login?redirect_url=/index.php/f/30518"
                  
                  class="max-md:px-4 gap-2.5 self-stretch overflow-hidden rounded-xl border border-solid border-[#AEC90C] bg-[#AEC90C] bg-opacity-0 hover:bg-opacity-100 px-12 py-2.5 text-[#AEC90C] hover:text-teal-950 transition w-full lg:w-auto mt-4 lg:mt-0 xl:min-w-[252.86px] block lg:inline-block text-center"
                  aria-label="Contact us">Se connecter</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </header>
    <main
      class="flex flex-col relative shrink-0 box-border h-auto empty:min-h-[30vh] before:content-['Main'] before:absolute before:top-0 before:left-0 before:inline-block before:py-1 before:px-2 before:bg-black/20 before:text-white before:text-sm before:rounded before:!rounded-tl-none before:!rounded-bl-none mb-[1px] main-section"
    >
      <section
        class="main-component flex overflow-hidden flex-col text-white bg-[#102d2e]"
        aria-label="Gaïact Network Section"
      >
        <div
          class="px-4 sm:px-5 lg:px-8 max-md:px-4 max-md:max-w-full py-12 lg:pt-20 lg:pb-16"
          aria-label="Gaïact Network Wrapper"
        >
          <div
            class=" container lg:px-10 mx-auto flex flex-col lg:gap-20 gap-12"
          >
            <h1
              class="font-bold text-center lg:text-[50px] lg:leading-[65px] text-[28px] leading-snug"
              aria-level="1"
            >
              Le réseau Gaïact
            </h1>
            <div
              class="flex flex-col justify-center items-center self-center px-4 py-6 md:py-10 lg:py-14 mt-0 w-full text-xl bg-[#1e3d40] 2xl:max-w-[1192px] mx-auto rounded-xl lg:rounded-[32px] text-teal-950 max-md:px-4 max-md:max-w-full relative"
              aria-label="Gaïact Network Content Wrapper"
            >
              <Image
                alt="Leaf graphic for Gaïact network"
                src={imgimages_gaiact_network_leaf_img_webp}
                width="400"
                height="300"
                class="absolute lg:-right-[7%] lg:-top-[29%] -right-[6%] -top-[8%] lg:w-[140px] w-[70px] z-20"
              />
              <div
                class="flex flex-wrap flex-col md:flex-row lg:gap-3.5 gap-8 items-center lg:w-auto w-full"
                aria-label="Gaïact Network Content"
              >
                <button
                  class="overflow-hidden gap-6 self-stretch py-6 px-2.5 my-auto whitespace-nowrap bg-white rounded-2xl lg:min-w-[179px] max-md:px-4 min-w-[65%] md:min-w-[100%] mx-auto font-bold text-sm lg:text-base"
                  >SE CONNECTER</button
                >
                <Image
                  alt="Arrow pointing right"
                  src={imgimages_gaiact_arrow_right_bottom_webp}
                  width="400"
                  height="300"
                  class="shrink-0 my-auto w-14 lg:rotate-0 rotate-90 md:mx-auto"
                />
                <button
                  class="overflow-hidden gap-6 self-stretch py-6 px-2.5 my-auto whitespace-nowrap bg-white rounded-2xl lg:min-w-[179px] max-md:px-4 min-w-[65%] md:min-w-[100%] mx-auto font-bold text-sm lg:text-base"
                  >COLLABORER</button
                >
                <Image
                  alt="Arrow pointing right"
                  src={imgimages_gaiact_arrow_right_bottom_webp}
                  width="400"
                  height="300"
                  class="shrink-0 my-auto w-14 lg:rotate-0 rotate-90 md:mx-auto"
                />
                <button
                  class="overflow-hidden gap-6 self-stretch py-6 px-2.5 my-auto whitespace-nowrap bg-white rounded-2xl lg:min-w-[179px] max-md:px-4 min-w-[65%] md:min-w-[100%] mx-auto font-bold text-sm lg:text-base"
                  >ReGÉNÉRER</button
                >
              </div>
            </div>
          </div>
        </div>
        <section
          class="main-component flex overflow-hidden flex-col text-white bg-[#102d2e]"
        >
          <div
            class="flex flex-col px-4 sm:px-5 lg:px-8 max-md:px-4 max-md:max-w-full py-12 gap-20"
            aria-label="About Us Wrapper"
          >
            <div
              class="flex flex-col lg:gap-[80px] gap-14  container lg:px-10 mx-auto"
              aria-label="About Us Content"
            >
              <div
                class="flex flex-col gap-10 lg:gap-20 text-white"
                aria-labelledby="whoWeAreTitle"
                aria-label="Who We Are Section"
              >
                <h3
                  id="whoWeAreTitle"
                  class="font-bold lg:text-left text-center lg:text-[40px] lg:leading-[55px] text-[28px] leading-normal"
                  aria-level="3"
                >
                  Qui sommes-nous ?
                </h3>
                <p
                  class="lg:text-xl text-sm !leading-[2] lg:text-left text-center"
                  aria-label="Who We Are Description"
                >
                  Gaïact est un réseau professionnel associatif de loi 1901
                  engagé. Ouvert aux acteurs de l&#x27;économie de tous les
                  secteurs, dans toute la France, quelque soit leur niveau de
                  maturité en RSE, de néophyte à expert. Seul critère: votre
                  volonté de faire évoluer vos pratiques et travailler avec des
                  acteurs engagés. Les activités de Gaïact sont basées sur des
                  événements physiques et locaux, mais également digitaux qui
                  favorisent la création de liens, le passage à l&#x27;action et
                  l&#x27;ouverture vers de nouveaux marchés viables et durables.
                </p>
              </div>
              <div
                class="flex flex-col lg:gap-24"
                aria-labelledby="boardMembersTitle"
                aria-label="Board Members Section"
              >
                <h3
                  id="boardMembersTitle"
                  class="font-bold lg:text-[40px] lg:leading-[55px] text-center lg:text-left mb-14 lg:mb-0"
                  aria-level="3"
                >
                  Membres du bureau:
                </h3>
                <div
                  class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:max-w-[900px] mx-auto"
                >
                  <div class="flex flex-col gap-8 w-full lg:max-w-[270px]">
                    <Image
                      alt="OCÉANE CHABARDES Profile Image"
                      src={imgimages_gaiact_about_us_person_1_webp}
                      width="178"
                      height="178"
                      class="rounded-full w-[100px] h-[100px] lg:w-[178px] lg:h-[178px] mx-auto relative z-10 object-contain"
                    />
                    <div
                      class="flex flex-col bg-gradient-to-br from-[#0F2D2E] to-[#264B4F] rounded-[32px] -mt-[85px] md:-mt-[120px] pt-[70px] lg:pt-[105px] pb-[24px] px-[24px] min-h-[210px] md:min-h-[250px] lg:min-h-[360px]"
                      aria-label="OCÉANE CHABARDES Info"
                    >
                      <h4
                        class="text-[#AFCA0C] text-center font-bold uppercase lg:text-xl text-sm mb-2"
                        aria-level="4"
                      >
                        OCÉANE CHABARDES
                      </h4>
                      <p
                        class="lg:text-lg text-sm text-white text-center"
                        aria-label="Quote from OCÉANE CHABARDES"
                      >
                        "Ma Gaïactitude c&#x27;est de recréer du lien.
                        L&#x27;effet papillon au service de la transition."
                      </p>
                      <a
                        href="https://www.linkedin.com/in/océane-chabardès/"
                        
                        class="mx-auto mt-auto"
                      >
                        <Image
                          alt="LinkedIn Logo"
                          src={imgimages_gaiact_linkedin_icon_svg}
                          width="24"
                          height="24"
                          class="w-6 h-6 rounded-full bg-white"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="flex flex-col gap-8 w-full lg:max-w-[270px]">
                    <Image
                      alt="SIMON CARDON Profile Image"
                      src={imgimages_gaiact_about_us_person_2_webp}
                      width="178"
                      height="178"
                      class="rounded-full w-[100px] h-[100px] lg:w-[178px] lg:h-[178px] mx-auto relative z-10 object-contain"
                    />
                    <div
                      class="flex flex-col bg-gradient-to-br from-[#0F2D2E] to-[#264B4F] rounded-[32px] -mt-[85px] md:-mt-[120px] pt-[70px] md:pt-[105px] pb-[24px] px-[24px] min-h-[210px] md:min-h-[250px] lg:min-h-[360px]"
                      aria-label="SIMON CARDON Info"
                    >
                      <h4
                        class="text-[#AFCA0C] text-center font-bold uppercase lg:text-xl text-sm mb-2"
                        aria-level="4"
                      >
                        SIMON CARDON
                      </h4>
                      <p
                        class="lg:text-lg text-sm text-white text-center"
                        aria-label="Quote from SIMON CARDON"
                      >
                        "Sensibiliser et apporter des solutions concrêtes pour
                        un passage à l&#x27;action, c&#x27;est ça l&#x27;effet
                        Gaïact."
                      </p>
                      <a
                        href="https://www.linkedin.com/in/simon-cardon/"
                        
                        class="mx-auto mt-auto"
                      >
                        <Image
                          alt="LinkedIn Logo"
                          src={imgimages_gaiact_linkedin_icon_svg}
                          width="24"
                          height="24"
                          class="w-6 h-6 rounded-full bg-white"
                        />
                      </a>
                    </div>
                  </div>
                  <div class="flex flex-col gap-8 w-full lg:max-w-[270px]">
                    <Image
                      alt="Elsa Baldan Profile Image"
                      src={imgimages_gaiact_about_us_person_4_webp}
                      width="178"
                      height="178"
                      class="rounded-full w-[100px] h-[100px] lg:w-[178px] lg:h-[178px] mx-auto relative z-10 object-contain"
                    />
                    <div
                      class="flex flex-col bg-gradient-to-br from-[#0F2D2E] to-[#264B4F] rounded-[32px] -mt-[85px] md:-mt-[120px] pt-[70px] lg:pt-[105px] pb-[24px] px-[24px] min-h-[210px] md:min-h-[250px] lg:min-h-[360px]"
                      aria-label="Elsa Baldan Info"
                    >
                      <h4
                        class="text-[#AFCA0C] text-center font-bold uppercase lg:text-xl text-sm mb-2"
                        aria-level="4"
                      >
                        Elsa Baldan
                      </h4>
                      <p
                        class="lg:text-lg text-sm text-white text-center"
                        aria-label="Quote from Elsa Baldan"
                      >
                      “Je souhaite accompagner vers une transformation digitale humaine et durable”
                      </p>
                      <a
                        href="https://www.linkedin.com/in/elsabaldan/"
                        
                        class="mx-auto mt-auto"
                      >
                        <Image
                          alt="LinkedIn Logo"
                          src={imgimages_gaiact_linkedin_icon_svg}
                          width="24"
                          height="24"
                          class="w-6 h-6 rounded-full bg-white"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="pt-8 pb-6 px-5 bg-[#245a60] relative -mx-4 sm:-mx-6 lg:-mx-8 max-md:-mx-5"
              aria-label="Call to Action Section"
            >
              <Image
                alt="Left Leaf Decoration"
                src={imgimages_gaiact_about_us_left_leaf_webp}
                width="400"
                height="300"
                class="w-[50px] lg:w-[150px] absolute -top-[10%] lg:-top-[50%] left-0"
              />
              <!-- -->
              <Image
                alt="Right Leaf Decoration"
                src={imgimages_gaiact_about_us_right_leaf_webp}
                width="400"
                height="300"
                class="w-[80px] lg:w-[150px] absolute -bottom-[5%] lg:-bottom-[25%] right-0"
              />
              <div
                class="2xl:max-w-screen-xl mx-auto text-center flex flex-col gap-4 lg:text-base text-sm"
              >
                <p
                  class="text-white leading-loose"
                  aria-label="First Call to Action Text"
                >
                  Prêt à faire la différence et à renforcer votre engagement en
                  faveur du développement durable ?
                </p>
                <p aria-label="Second Call to Action Text">
                  Rejoignez notre réseau d&#x27;affaires et contribuez à un
                  avenir soutenable et responsable aux côtés d&#x27;entreprises
                  partageant les mêmes valeurs.
                </p>
                <a
                  href="/devenir-membre"
                  class="inline-flex px-12 py-3 rounded-2xl text-gray-900 bg-[#AFCA0C] mx-auto font-semibold mt-4"
                  aria-label="Join Button">Rejoindre</a
                >
              </div>
            </div>
            <div
              class=" container lg:px-10 mx-auto w-full"
              aria-label="Mission and Vision Section"
            >
              <div class="2xl:max-w-screen-lg mx-auto">
                <div class="flex flex-col lg:flex-row gap-6">
                  <div
                    class="lg:w-1/2 rounded-2xl overflow-hidden px-6 bg-[#1e3d40]"
                  >
                    <h3
                      class="text-lg py-4 border-b text-[#AFCA0C] border-b-[#AFCA0C] text-center"
                      aria-level="3"
                    >
                      Nos missions
                    </h3>
                    <div class="pt-6 flex flex-col gap-6 px-8 text-center">
                      <p
                        class="lg:text-base text-sm"
                        aria-label="Mission statement 1"
                      >
                        Notre mission est de rassembler et de fédérer les
                        entreprises engagées dans le développement durable, en
                        créant un réseau d&#x27;affaires dynamique et solidaire.
                      </p>
                      <p
                        class="lg:text-base text-sm"
                        aria-label="Mission statement 2"
                      >
                        Ensemble, nous souhaitons promouvoir l&#x27;innovation,
                        la collaboration et la responsabilité environnementale
                        et sociale pour un avenir plus vertueux, durable et
                        responsable.
                      </p>
                      <Image
                        alt="Mountain landscape representing Gaiact's mission"
                        src={imgimages_gaiact_about_us_moutain_img_webp}
                        width="400"
                        height="300"
                        class="max-w-[250px] lg:max-w-[360px] mx-auto"
                      />
                    </div>
                  </div>
                  <div class="lg:w-1/2 flex flex-col gap-6">
                    <div
                      class="flex-1 rounded-2xl overflow-hidden px-6 bg-[#1e3d40] pb-4"
                    >
                      <h3
                        class="text-lg py-4 border-b text-[#AFCA0C] border-b-[#AFCA0C] text-center"
                        aria-level="3"
                      >
                        Des valeurs fondatrices pour un impact positif
                      </h3>
                      <div class="pt-6 flex flex-col gap-6 px-8 text-center">
                        <p
                          class="lg:text-base text-sm"
                          aria-label="Values statement 1"
                        >
                          Nos valeurs guident nos actions et celles de notre
                          réseau d&#x27;affaires.
                        </p>
                        <p
                          class="lg:text-base text-sm"
                          aria-label="Values statement 2"
                        >
                          Ensemble, nous nous engageons à promouvoir
                          l&#x27;innovation, la collaboration et la
                          responsabilité environnementale et sociale pour un
                          avenir durable.
                        </p>
                      </div>
                    </div>
                    <div
                      class="flex-1 rounded-2xl overflow-hidden px-6 bg-[#1e3d40] pb-4"
                    >
                      <h3
                        class="text-lg py-4 border-b text-[#AFCA0C] border-b-[#AFCA0C] text-center"
                        aria-level="3"
                      >
                        Notre vision
                      </h3>
                      <div
                        class="pt-6 flex flex-col gap-6 px-8 text-center text-sm lg:text-base"
                      >
                        <p aria-label="Vision statement 1">
                          Événements Immersifs
                        </p>
                        <p aria-label="Vision statement 2">
                          Webinaires Inspirants
                        </p>
                        <p aria-label="Vision statement 3">
                          Plateforme digitale<br />communautaire
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section
            class="main-component flex overflow-hidden flex-col text-white bg-[#102d2e]"
            aria-label="Gaïact Our Members Section"
          >
            <div
              class="px-4 sm:px-5 lg:px-8 max-md:px-4 max-md:max-w-full py-12 md:py-16 lg:py-24"
              aria-label="Gaïact Our Members Wrapper"
            >
              <div class="2xl:max-w-screen-xl mx-auto">
                <div
                  class="flex flex-col gap-10"
                  aria-label="Gaïact Our Members Header"
                >
                  <h4
                    class="lg:text-[44px] lg:leading-[55px] text-[28px] leading-[40px] w-full text-center font-bold"
                    aria-level="4"
                  >
                    Nos membres
                  </h4>
                  <p
                    class="w-full text-center lg:text-xl text-sm"
                    aria-label="Subtitle for our members"
                  >
                    Des entreprises engagées, impliquées et inspirantes
                  </p>
                </div>
                <div
                  class="flex lg:flex-row flex-wrap"
                  aria-label="Logo container for our members"
                >
                  <div class="w-1/4 flex mx-auto mt-16 px-2 md:px-4">
                    <div class="xl:max-w-[170px] xl:min-h-[120px] m-auto flex">
                      <Image
                        alt="Logo of member company 1"
                        src={imgimages_gaiact_about_us_logo_ck_webp}
                        width="170"
                        height="120"
                        class="m-auto flex flex-shrink-0 object-contain w-full lg:min-w-[170px] lg:max-w-[170px]"
                      />
                    </div>
                  </div>
                  <div class="w-1/4 flex mx-auto mt-16 px-2 md:px-4">
                    <div class="xl:max-w-[170px] xl:min-h-[120px] m-auto flex">
                      <Image
                        alt="Logo of member company 2"
                        src={imgimages_gaiact_about_us_logo_claire_webp}
                        width="170"
                        height="120"
                        class="m-auto flex flex-shrink-0 object-contain w-full lg:min-w-[170px] lg:max-w-[170px]"
                      />
                    </div>
                  </div>
                  <div class="w-1/4 flex mx-auto mt-16 px-2 md:px-4">
                    <div class="xl:max-w-[170px] xl:min-h-[120px] m-auto flex">
                      <Image
                        alt="Logo of member company 3"
                        src={imgimages_gaiact_about_us_logo_elan_coaching_webp}
                        width="170"
                        height="120"
                        class="m-auto flex flex-shrink-0 object-contain w-full lg:min-w-[170px] lg:max-w-[170px]"
                      />
                    </div>
                  </div>
                  <div class="w-1/4 flex mx-auto mt-16 px-2 md:px-4">
                    <div class="xl:max-w-[170px] xl:min-h-[120px] m-auto flex">
                      <Image
                        alt="Logo of member company 4"
                        src={imgimages_gaiact_about_us_logo_nosual_webp}
                        width="170"
                        height="120"
                        class="m-auto flex flex-shrink-0 object-contain w-full lg:min-w-[170px] lg:max-w-[170px]"
                      />
                    </div>
                  </div>
                  <div class="w-1/4 flex mx-auto mt-16 px-2 md:px-4">
                    <div class="xl:max-w-[170px] xl:min-h-[120px] m-auto flex">
                      <Image
                        alt="Logo of member company 5"
                        src={imgimages_gaiact_about_us_logo_eco_step_webp}
                        width="170"
                        height="120"
                        class="m-auto flex flex-shrink-0 object-contain w-full lg:min-w-[170px] lg:max-w-[170px]"
                      />
                    </div>
                  </div>
                  <div class="w-1/4 flex mx-auto mt-16 px-2 md:px-4">
                    <div class="xl:max-w-[170px] xl:min-h-[120px] m-auto flex">
                      <Image
                        alt="Logo of member company 6"
                        src={imgimages_gaiact_about_us_logo_phalene_webp}
                        width="170"
                        height="120"
                        class="m-auto flex flex-shrink-0 object-contain w-full lg:min-w-[170px] lg:max-w-[170px]"
                      />
                    </div>
                  </div>
                  <div class="w-1/4 flex mx-auto mt-16 px-2 md:px-4">
                    <div class="xl:max-w-[170px] xl:min-h-[120px] m-auto flex">
                      <Image
                        alt="Logo of member company 7"
                        src={imgimages_gaiact_about_us_logo_numi_bee_webp}
                        width="170"
                        height="120"
                        class="m-auto flex flex-shrink-0 object-contain w-full lg:min-w-[170px] lg:max-w-[170px]"
                      />
                    </div>
                  </div>
                  <div class="w-1/4 flex mx-auto mt-16 px-2 md:px-4">
                    <div class="xl:max-w-[170px] xl:min-h-[120px] m-auto flex">
                      <Image
                        alt="Logo of member company 8"
                        src={imgimages_gaiact_about_us_logo_cerebralis_webp}
                        width="170"
                        height="120"
                        class="m-auto flex flex-shrink-0 object-contain w-full lg:min-w-[170px] lg:max-w-[170px]"
                      />
                    </div>
                  </div>
                  <div class="w-1/4 flex mx-auto mt-16 px-2 md:px-4">
                    <div class="xl:max-w-[170px] xl:min-h-[120px] m-auto flex">
                      <Image
                        alt="Logo of member company 9"
                        src={imgimages_gaiact_about_us_logo_digital_forest_webp}
                        width="170"
                        height="120"
                        class="m-auto flex flex-shrink-0 object-contain w-full lg:min-w-[170px] lg:max-w-[170px]"
                      />
                    </div>
                  </div>
                  <div class="w-1/4 flex mx-auto mt-16 px-2 md:px-4">
                    <div class="xl:max-w-[170px] xl:min-h-[120px] m-auto flex">
                      <Image
                        alt="Logo of member company 10"
                        src={imgimages_gaiact_about_us_logo_green_web_webp}
                        width="170"
                        height="120"
                        class="m-auto flex flex-shrink-0 object-contain w-full lg:min-w-[170px] lg:max-w-[170px]"
                      />
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <a
                    href="/contact"
                    class="inline-flex px-12 py-3 justify-center rounded-2xl text-gray-900 bg-[#AFCA0C] mx-auto font-semibold mt-8 lg:mt-4 lg:w-auto w-[75%]"
                    aria-label="Call to action button to join">Nous rejoindre</a
                  >
                </div>
              </div>
            </div>
          </section>
        </section>
      </section>
    </main>
    <footer
      class="flex flex-col relative shrink-0 box-border h-auto empty:min-h-[30vh] before:content-['Footer'] before:absolute before:top-0 before:left-0 before:inline-block before:py-1 before:px-2 before:bg-black/20 before:text-white before:text-sm before:rounded before:!rounded-tl-none before:!rounded-bl-none mb-[1px] footer-section"
    >
      <section
        class="footer-component flex flex-col overflow-hidden bg-[#112c29] text-white relative"
      >
        <div
          class="max-md:px-4 max-md:max-w-full px-8 py-8 lg:py-12 md:py-12 sm:px-5 lg:px-8 bg-[#112c29]"
        >
          <div class="mx-auto  container">
            <div
              class="flex max-w-full flex-col lg:items-center overflow-hidden"
            >
              <div class="w-full max-w-[390px] md:max-w-full">
                <div
                  class="items-top flex flex-col justify-between lg:gap-5 md:flex-row"
                >
                  <div class="items-top flex w-full flex-col md:w-[26%]">
                    <div class="flex w-full flex-col overflow-hidden">
                      <Image
                        alt="Gaïact logo"
                        src={imgimages_gaiact_logo_svg}
                        width="201.6"
                        height="60"
                        class="w-[202px] max-w-full"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex min-h-[24px] w-36 max-w-full items-end gap-4 mt-10 z-30"
                      role="group"
                      aria-label="Social media links"
                    >
                      <a
                        href="https://www.linkedin.com/company/reseaugaiact/"
                        
                        class="rounded-[50%] bg-white text-gray-700 transition hover:text-[#AECA0E] dark:text-gray-300"
                        rel="noreferrer"
                        aria-label="LinkedIn"
                      >
                        <Image
                          alt="LinkedIn icon"
                          src={imgimages_gaiact_linkedin_icon_svg}
                          width="400"
                          height="300"
                          class="h-full w-[24px] object-contain"
                          loading="lazy"
                        />
                      </a>
                      <a
                        href="https://www.instagram.com/reseau_gaiact/"
                        
                        class="text-gray-700 transition hover:text-[#AECA0E] dark:text-gray-300"
                        rel="noreferrer"
                        aria-label="Instagram"
                      >
                        <Image
                          alt="Instagram icon"
                          src={imgimages_gaiact_instagram_icon_svg}
                          width="400"
                          height="300"
                          class="h-full w-[24px] object-contain"
                          loading="lazy"
                        />
                      </a>
                    </div>
                  </div>
                  <div
                    class="flex w-full flex-col align-top md:ml-5 md:w-[42%]"
                  >
                    <div
                      class="max-md:mt-4 flex grow flex-col text-base leading-loose text-white md:flex-row"
                    >
                      <div
                        class="flex flex-1 flex-col overflow-hidden z-30"
                        role="navigation"
                        aria-labelledby="footerGaiactLeftLinksTitle"
                      >
                        <!-- Add a visible or screen-reader-only title -->
                        <h3 id="footerGaiactLeftLinksTitle" class="sr-only">
                          Liens
                        </h3>
                        <a
                          href="/"
                          class="first:mt-0"
                          role="link"
                          aria-label="Accueil">Accueil</a
                        >
                        <a
                          href="/gaiact"
                          class="first:mt-0"
                          role="link"
                          aria-label="Gaïact">Gaïact</a
                        >
                        <a
                          href="/contact"
                          class="first:mt-0"
                          role="link"
                          aria-label="Contact">Contact</a
                        >
                        <a
                          href="/legal-notices"
                          class="first:mt-0"
                          role="link"
                          aria-label="Mentions légales">Mentions légales</a
                        >
                      </div>

                      <div
                        class="flex flex-1 flex-col overflow-hidden z-30"
                        role="navigation"
                        aria-labelledby="footerGaiactRightLinksTitle"
                      >
                        <!-- Add a screen-reader-only title -->
                        <h3 id="footerGaiactRightLinksTitle" class="sr-only">
                          Liens
                        </h3>
                        <a
                          href="/evenement"
                          class="first:mt-0"
                          role="link"
                          aria-label="Évènements">Évènements</a
                        >
                        <a
                          href="/media"
                          class="first:mt-0"
                          role="link"
                          aria-label="Média">Média</a
                        >
                        <a
                          href="/devenir-membre"
                          class="first:mt-0"
                          role="link"
                          aria-label="Devenir membre">Devenir membre</a
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="max-md:items-start flex w-full flex-col items-center md:ml-5 md:w-[50%] md:items-end lg:items-end z-30"
                  >
                    <div
                      class="max-md:mt-4 flex w-full lg:max-w-[242px] flex-col items-end overflow-hidden text-white"
                    >
                      <h2 class="w-full text-lg">
                        Suivez l&#x27;actualité de Gaïact
                      </h2>
                      <div
                        class="mt-6 flex w-full flex-col items-end rounded-none text-sm leading-loose"
                        aria-labelledby="footerGaiactNewsletterTitle"
                      >
                        <!-- Add a heading or label for the newsletter -->
                        <h3 id="footerGaiactNewsletterTitle" class="sr-only">
                          Inscription à la newsletter
                        </h3>
                        <div
                          class="flex w-full items-center justify-end rounded-lg bg-[#2d4e25] align-middle pl-3"
                        >
                          <input
                            name="email"
                            type="email"
                            auto-complete="given-name"
                            placeholder="Adresse e-mail"
                            class="w-full items-end border-none bg-transparent text-white placeholder-white"
                            aria-label="Adresse e-mail"
                            required=""
                          />
                          <button
                            class="min-w-[40px] min-h-[40px] flex items-center justify-center"
                            type="submit"
                            aria-label="S'inscrire à la newsletter"
                          >
                            <Image
                              alt="Send icon"
                              src={imgimages_gaiact_send_icon_webp}
                              width="17"
                              height="17"
                              class="w-[17px] align-middle"
                              loading="lazy"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="z-20 mt-10 lg:mt-16 min-h-[1px] w-full self-stretch border border-solid border-zinc-300"
              >
              </div>
              <div
                class="z-30 text-base pt-10 md:pt-10 lg:pt-10 text-white leading-loose lg:leading-snug"
              >
                <span
                  >©
                  <!-- -->2024
                  <!-- --> GAÏACT - Site web créé par la société GreenWeb. L'ensemble
                  des données est stocké en France par
                </span>
                <a href="#" class="underline mx-1" aria-label="Digital Forest"
                  >Digital Forest</a
                >
                <span>, hébergeur éco-responsable</span>
              </div>
              <Image
                alt="Footer background left"
                src={imgimages_gaiact_left_footer_bg_svg}
                width="400"
                height="300"
                class="absolute z-0 -left-8 md:left-[30px] lg:left-[120px] h-[70px] md:h-[122px] lg:h-[198px] bottom-0 w-auto"
                loading="lazy"
              />
              <!-- -->
              <Image
                alt="Footer background right"
                src={imgimages_gaiact_right_footer_bg_svg}
                width="400"
                height="300"
                class="absolute right-0 z-0 h-[102px] md:h-[170px] lg:h-[230px] bottom-0 top-24px w-auto"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
